name: infra-manga-library
networks:
  mangaLib_net:

services:
  mongo:
    image: mongo:7
    command: ["--bind_ip_all", "--auth"]
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
      MONGO_INITDB_DATABASE: manga-lib
    volumes: ["./mongo/data:/data/db"]
    networks: [mangaLib_net]
    ports: ["27017:27017"] # DEV ONLY
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD",
          "mongosh",
          "--username",
          "admin",
          "--password",
          "admin",
          "--eval",
          "db.adminCommand('ping')",
        ]
      interval: 10s
      timeout: 5s
      retries: 5

  worker:
    build: ./worker
    command: ["python", "main.py"]
    volumes:
      - ./worker:/app
    environment:
      MONGO_URI: "mongodb://admin:admin@mongo:27017/manga-lib?authSource=admin"
    depends_on:
      mongo:
        condition: service_healthy
    networks: [mangaLib_net]
    restart: unless-stopped
